<style>
    .body-content {
        background: rgba(255,255,255,0.80);
        margin-top: 35px;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <title>Parkeasy</title>
    <!--Bootstrap External Stylesheet Links-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: ghostwhite;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="color: black;">Parkeasy Parking</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Services", "Services", "Home")</li>
                    <li>@Html.ActionLink("Book In", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <a class="navbar-form navbar-left">
                    @using (Html.BeginForm("SearchResults", "Home"))
                    {
                        <input type="text" id="search" name="search" />
                        <input type="submit" value="Submit" />
                    }
                </a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Parkeasy Car Park</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>