@model IEnumerable<Parkeasy.Models.Invoice>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
<p>
    @await Html.PartialAsync("_CreateNewPartial")
</p>
<table class="table table-striped table-bordered table-condensed table-responsive table-hover">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CardPartial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceBody)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardPartial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceBody)
            </td>
            <td>
                @await Html.PartialAsync("_TableButtonIntPartial", item.Id)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>