@model IEnumerable<Parkeasy.Models.Flight>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Destination)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.Id)
            </td>
            <td>
                @await Html.PartialAsync("_TableButtonPartial", item.Booking.Id)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
